body {
  background: #111;
  color: #fff;
}
p {
  background: #555;
  display: block;
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
}
span {
  white-space: pre-wrap;
}
.white {
  height: 500px;
}
